	/*Main color*/
	:root {
		--background-color: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
	}
	body {
		background: var(--background-color);
		overflow-x: hidden;
		overflow-y: auto;
	}
	a:hover, a:active, a:focus {
		text-decoration: none;
	}
	dl, ol, ul {
		margin-top: 0;
		margin-bottom: 1rem;
	}
	li {
		list-style: none;
	}
	ul {
		padding: 0;
	}
	.dh {
		padding: 0px 10px;
		margin-bottom:10px;
	}
	.dh .col-xs-4 {
		padding: 0 3px;
	}
	.dh a{
		background: rgba(255,255,255,255);
		text-align:center;
		display: block;
		line-height: 45px;
		border-radius: 10px;
		font-size: 14px;
		color: #616161;
		transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
    		opacity: 0.83;
    		font-family:"Trebuchet MS", Helvetica, sans-serif;
	}
	/*block color;*/
	.dh a:hover {
		color: #fff;
		font-size: 100%;
		font-weight: bold;
		background: var(--background-color);
        	transform: scale(0.95);
	}
	.dh a:active {
		color: #fff;
		font-size: 70%;
		background: linear-gradient(to right, #3ab5b0 0%, #3d99bf 0%, #56317a 100%);
	}
	
	.dhname {
		font-size: 15px;
		font-weight: 50;
		color: #fff;
		display: block;
		margin-bottom: 5px;
	}
	.sousuo {
		padding: 35px 10px;
	}
	.search {
		position: relative;
		width: 100%;
		margin: 0 auto;
	}
	.search-box {
		height: 50px;
		box-shadow: 0px 0px 0px 0px #fff;
		border-radius: 30px;
		overflow: hidden;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
	}
	.search-icon {
		position: absolute;
		left: 5px;
		top: 5px;
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius: 50px;
		cursor: pointer;
	}
	.search-input {
		box-sizing: border-box;
		flex: 1;
		height: 50px;
		line-height: 22px;
		font-size: 16px;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: #999;
		border: none;
		outline: none;
		padding-left: 50px;
	}
	.search-clear {
		position: absolute;
		right: 15px;
		top: 50%;
		font-size: 22px;
		color: #999999;
		margin-top: -10px;
		cursor: pointer;
		display: none;
		transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
	}
	.search-clear:hover {
		border-radius: 100px;
		box-shadow: 0 15px 50px 0 rgba(0,0,0,0.24),0 15px 50px 0 rgba(0,0,0,0.19);
	}
	.search-engine {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		background: #FFF;
		padding: 15px 0 0 15px;
		border-radius: 5px;
		box-shadow: 0px 10px 20px #555;
		transition: all 0.3s;
		display: none;
		z-index: 999;
	}
	.search-engine-head {
		overflow: hidden;
		margin-bottom: 10px;
		padding-right: 15px;
	}
	.search-engine-tit {
		float: left;
		margin: 0;
		font-size: 14px;
		color: #999;
	}
	.search-engine-list::after {
		content: '';
		width: 70px;
		height: 18px;
		position: absolute;
		top: -17px;
		left: 1px;
	}
	.search-engine-list li {
		float: left;
		width: 50%;
		line-height: 30px;
		font-size: 14px;
		padding: 5px 10px 5px 10px;
		margin: 0 10px 10px 0;
		border-radius: 20px;
		background: #f9f9f9;
		color: #999;
		cursor: pointer;
		list-style: none;
		transition-duration: 0.1s;
		-webkit-transition-duration: 0.1s;
	}
	.search-engine-list li:hover {
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.search-engine-list li:active {
		box-shadow: 0 0px 0px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	}
	.search-engine ul {
		padding: 0;
	}
	.search-engine-list li img {
		width: 25px;
		height: 25px;
		border-radius: 15px;
		float: left;
		margin-right: 5px;
		margin-top: 2.5px;
	}
	.search-engine ul::before {
		content: '';
		width: 0px;
		height: 0px;
		position: absolute;
		top: -15px;
		border-top: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #fff;
		border-left: 8px solid transparent;
	}
	.search-btn {
		width: 80px;
		height: 50px;
		background-color: #fff;
		color: black;
		border: none;
		color: #64B5F6;
		font-weight: bold;
		border-left: 1px solid #e6e6e6;
		outline: none;
		transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
	}
	.search-btn:hover {
		background-color: rgb(94, 148, 215);
		color: rgb(244, 245, 245);
	}
	.search-btn:active {
		background-color: rgb(74 112 139);
		color: rgb(244, 245, 245);
	}
	.hidden-xs {
		display: block!important;
	}
	.search-hot-text {
		position: absolute;
		left: 25px;
		z-index: 100;
		width: 85%;
		border-radius: 0 0 10px 10px;
		background: #FFF;
		box-shadow: 0px 4px 5px 0px #cccccc94;
	}
	.search-hot-text ul li {
		border-top: 1px solid #f2f2f2;
		line-height: 30px;
		font-size: 14px;
		padding: 0px 25px;
		color: #777;
		cursor: pointer;
		transition-duration: 0.05s;
		-webkit-transition-duration: 0.05s;
	}
	.search-hot-text ul li:hover {
		background-color: rgb(227, 227, 227);
		color: rgb(0, 0, 0);
	}
	.search-hot-text ul {
		margin: 0;
	}
	.mb-2, .my-2 {
		margin-bottom: .5rem!important;
	}
	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		height: auto;
		background: #FFF;
    		box-shadow: 0px 10px 20px #555;
	}
	header .main {
		position: relative;
    		height: auto;

	}
	#content .content-box {
		padding-top: 30px;
	}
	.content-box {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 10px;
	}
	header .logo {
		font-size: 100%;
		margin: 0;
		font-weight: 200;
		text-align: center;
		position: relative;
		z-index: 200;
    	height: auto;
		border-bottom: 1px solid #e8e8e8;
		background: #FFF;
	}
	header .logo a {
   		line-height: 21px;
		color: #636363;
		font-weight: lighter;
    		height: auto;
	}
	#content {
		 min-height: 100%;
	}
	.main-index{
	    padding-bottom: 50px;
	}
	#get-top {
		width: 40px;
		height: 40px;
		background: #03b8cf;
		color: #FFF;
		position: fixed;
		right: 15px;
		bottom: 55px;
		line-height: 30px;
		text-align: center;
		font-size: 30px;
		cursor: pointer;
		display: none;
		z-index: 100;
	}
	#get-top i {
		margin: 0;
		font-size: 20px;
	}
	.footer {
		width: 100%;
		background-color: #fff;
		font-size: 13px;
		padding-top: 15px;
		margin-top: -50px;
        	height: 50px;
        	z-index: 9999;
		color: #959595;
	}
	.footer a{
		color: #959595;
	}
	@media (min-width: 992px){
		.search {
			width: 650px;
		}
		.search-engine {
			width: 650px;
		}
		.search-engine-list li {
			width: 112px;
			margin: 0 15px 15px 0;
		}
		.search-hot-text {
			width: 535px;
			margin-left: 10px;
		}
		.dh {
			padding: 0px 20px;
			margin-bottom:20px;
		}
		header {
			height: 45px;
			border-bottom: 1px solid #e8e8e8;
		}
		header .main {
			padding: 0 24px;
		}
		header .logo {
			font-size: 100%;
			margin: 0;
			font-weight: 200;
			border: none;
		}
		header .logo a {
			display: block;
			line-height: 45px;
			color: #484848;
			font-weight: 400;
		}
		.content-box {
			padding: 0 10px;
			padding-top: 61px;
		}
		.main-index {
			padding-top: 60px;
		}
	}
	@media (min-width: 768px){
    	#content .content-box {
      		padding-top: 50px;
	}
    	.sousuo {
		padding: 30px 30px;
		margin-top: 0;
		}
	.search-clear {
		right: 95px;
		}
	}
	@media (prefers-color-scheme: dark) {
  	:root {
    		--background-color: #222;
		}
	header {
		background: var(--background-color);
		}
	header .main {
		background: var(--background-color);
	}
	header .logo {
			background: var(--background-color);
		}
	.dh a{
		background: #2c2c2c;
		color: #d8d8d8;
		}
	.search-input {
		background: #2c2c2c;
		}
	.footer {
		background: var(--background-color);
		}
  	}
